.buttonHero {
  z-index: 1;
  transition: all 250ms;
}

.buttonHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #60a5fa;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px #60a5fa;
  transition: all 250ms;
}

.buttonHero:hover {
  color: #e8e8e8;
}

.buttonHero:hover::before {
  width: 100%;
}
